In [14]:
%matplotlib inline
import pathlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
# import the columns dframe
df_cols = pd.read_csv('./vidas_data/col_translated_ref.csv')
df_cols

                   IT               EN
0           file_name        file_name
1                 AMT              AMT
2         API_Version      API_Version
3     AREADIAGNOSTICA  AREADIAGNOSTICS
4                 ASL              ASL
...               ...              ...
2479            vulva            vulva
2480           wHCode           wHCode
2481            wHKey            wHKey
2482           wHRole           wHRole
2483          wHValue          wHValue

[2484 rows x 2 columns]

In [20]:
# import the cross tabulation dframe
df_ref = pd.read_csv('./vidas_data/cross_ref_cols_tabs.csv')
df_ref.head()

,file_name,AMT,API_Version,AREADIAGNOSTICA,ASL,ATCCode,ATCDescription,Abbigliamento,Abitazione,AccessId,...,visioni_morte,visioni_vita,volonta,vomito_occasionale,vomito_persistente,vulva,wHCode,wHKey,wHRole,wHValue
0,wH_Conf_DBType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,wH_DirectTable_D_Scala_ESAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wH_Bck_IsWorking_Bck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wH_Core_OperationalUnitAssignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,wH_Conf_OuHtmlHeader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
with pd.option_context("display.max_rows", 1000):
    print(df_ref.loc[:, 'IDEHR'])

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13       10749.0
14           NaN
15           NaN
16           NaN
17         253.0
18           NaN
19      644350.0
20           NaN
21          12.0
22       14493.0
23           NaN
24           NaN
25           NaN
26      243019.0
27           1.0
28           NaN
29           NaN
30           NaN
31         387.0
32           NaN
33       10217.0
34           NaN
35           NaN
36           NaN
37       11068.0
38           NaN
39           NaN
40          48.0
41           NaN
42           NaN
43           NaN
44        4025.0
45           1.0
46        3650.0
47           NaN
48           NaN
49           NaN
50           NaN
51           7.0
52           NaN
53           NaN
54           NaN
55           NaN
56           NaN
57           NaN
58           NaN
59           NaN
60           NaN
61           NaN
62         802.0
63           NaN
64           NaN
65           NaN
66           3.0
67           NaN
68           NaN
69        2705.0
70           NaN
71      247730.0
72           NaN
73           NaN
74           NaN
75       14035.0
76      310647.0
77           9.0
78         314.0
79           NaN
80           NaN
81           NaN
82           NaN
83           NaN
84          92.0
85           NaN
86        3199.0
87           1.0
88           NaN
89           NaN
90           NaN
91        3436.0
92           NaN
93           NaN
94           NaN
95           1.0
96           NaN
97           NaN
98       40816.0
99           NaN
100          NaN
101          NaN
102          NaN
103          NaN
104        244.0
105          NaN
106      18894.0
107         19.0
108          NaN
109          NaN
110          NaN
111       2690.0
112         50.0
113          NaN
114     441579.0
115          NaN
116          NaN
117          2.0
118          NaN
119     264916.0
120      66720.0
121          NaN
122          NaN
123       1138.0
124          NaN
125          NaN
126          NaN
127          NaN
128          NaN
129      10841.0
130       6699.0
131      23770.0
132          NaN
133          1.0
134          NaN
135      34431.0
136         45.0
137        289.0
138          NaN
139          NaN
140         92.0
141        126.0
142          NaN
143          NaN
144         84.0
145          NaN
146          NaN
147          NaN
148         10.0
149          NaN
150          NaN
151       5874.0
152       9432.0
153          NaN
154          NaN
155         56.0
156          NaN
157        115.0
158       6526.0
159          8.0
160          NaN
161          5.0
162          NaN
163     219128.0
164          1.0
165          NaN
166          NaN
167       1134.0
168          NaN
169          NaN
170       5432.0
171          NaN
172          1.0
173          NaN
174      27503.0
175       7189.0
176         40.0
177          NaN
178          NaN
179          NaN
180          NaN
181          NaN
182          NaN
183         18.0
184          NaN
185          NaN
186          NaN
187       1204.0
188      41165.0
189          NaN
190    2157301.0
191     292176.0
192          NaN
193          NaN
194      94384.0
195      47724.0
196        109.0
197          NaN
198          NaN
199      15798.0
200          NaN
201         70.0
202          NaN
203         16.0
204          NaN
205          NaN
206          3.0
207          NaN
208          NaN
209          NaN
210          NaN
211          NaN
212          NaN
213          NaN
214       1107.0
215          NaN
216      10223.0
217          NaN
218          NaN
219          NaN
220          NaN
221          1.0
222       9433.0
223          7.0
224          NaN
225          NaN
226       6605.0
227         32.0
228          7.0
229          NaN
230          NaN
231          NaN
232          NaN
233          NaN
234          NaN
235          NaN
236      95044.0
237          NaN
238      28481.0
239          NaN
240          NaN
241        196.0
242          NaN
243          NaN
244          NaN
245          NaN
246          NaN
247          NaN
248          NaN
249          NaN
250          NaN
251          NaN
252          NaN
253     156562.0
254          NaN
255          NaN
256          NaN
257          NaN
258          1.0
259          NaN
260          NaN
261          NaN
262          NaN
263       2224.0
264          NaN
265    1723850.0
266          NaN
267          NaN
268          NaN
269          NaN
270         14.0
271          NaN
272     415075.0
273     111943.0
274          NaN
275       2829.0
276          NaN
277          NaN
278        828.0
279          NaN
280          NaN
281          NaN
282          NaN
283          NaN
284          NaN
285          NaN
286          NaN
287          NaN
288          NaN
289          NaN
290          NaN
291          NaN
292          NaN
293          NaN
294     183321.0
295       3284.0
296          NaN
297       1412.0
298        144.0
299          2.0
300          NaN
301          NaN
302          NaN
303          NaN
304          NaN
305          NaN
306          NaN
307         11.0
308          2.0
309       4040.0
310          NaN
311          NaN
312          NaN
313         52.0
314          NaN
315          NaN
316          NaN
317          NaN
318          NaN
319       4746.0
320          NaN
321          NaN
322          NaN
323          NaN
324          NaN
325          NaN
326       6120.0
327          NaN
328          NaN
329          NaN
330          NaN
331          NaN
332          NaN
333       4760.0
334          NaN
335       8950.0
336          NaN
337          NaN
338          NaN
339          8.0
340        164.0
341          NaN
342          NaN
343      57339.0
344          NaN
345          NaN
346          NaN
347          NaN
348          NaN
349          NaN
350         48.0
351          NaN
352      22059.0
353          NaN
354          NaN
355          NaN
356          NaN
357          NaN
358          NaN
359          NaN
360          NaN
361          NaN
362          NaN
363      10243.0
364          NaN
365          NaN
366          NaN
367          NaN
368       7297.0
369         22.0
370          NaN
371          NaN
372          NaN
373          NaN
374          NaN
375          5.0
376          NaN
Name: IDEHR, dtype: float64

In [53]:
# Reference function 1
# get_file_names(col_names, df_ref)
#
# Purpose: Returns the file names of all tables containing all of the columns specified in col_names using df_ref
# 
# Input: col_names: List containing desired column names
#        df_ref: Reference dframe (cross_ref_cols_tabs.csv)
#
# Returns: List of file names containing all of the col_names

def get_file_names(col_names, df_ref):
    file_names = []
    # get list of files where the col has at least 1 entry
    for col in col_names:
        file_names.append(df_ref.iloc[df_ref.loc[:, col].dropna().index,0].tolist())
    # get the intersection of file_names for all cols
    file_names = list(set.intersection(*map(set, file_names)))
    return file_names

In [54]:
# test get_file_names()
print(get_file_names(['IDEHR', 'chk_stato_danimo'], df_ref))

['wH_DirectTable_C_VISITA_MED_VIDAS', 'wH_DirectTable_VISITA_MED_VIDAS']